# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# VS Code settings
.vscode/

# PyCharm settings
.idea/

# Mac OS metadata
.DS_Store

# Model training outputs
language-translation-project/results/

# Dataset files (if saved to disk)
language-translation-project/data/train_dataset/
language-translation-project/data/test_dataset/

# Log files
*.log
# *.txt

# Flask cache and session files
instance/
*.pid

# Coverage reports
htmlcov/
.tox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/

# Test output
*.out
*.err
*.log

# Other
*.swp
*.swo
